name: Build Elite Task Microservice

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Restore
        run: dotnet restore Elite.Task.Microservice/Elite.Task.Microservice.csproj

      - name: Build
        run: dotnet build Elite.Task.Microservice/Elite.Task.Microservice.csproj --configuration Release --no-restore
